a{
    list-style: none;
    text-decoration: none;
}
.ourBlogs{
    margin: 191px 50px 0px 50px;
    padding:20px;
    border: solid 2px var(--border-color);
    border-radius: 24px;
    background-color: var(--primary-color);
}
.mh-blogs{
    display: flex;
    padding-top: 20px;
    gap: 20px;
}
.mh-blogphoto{
    width: 32.19%;
    background-image: url(../../assets/images/blogs-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 14px;
}
.mh-bigCard{
    width: 66.68%;
    background-color: var(--secondary-color);
    padding: 60px;
}

.rightText h3 {
    font-family:var(--roboto-font);
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--titles-color);
}
.rightText ul{
    display: flex;
}
.rightText ul .mh-innerUl li{
    font-family:var(--roboto-font);
    color: var( --grey-color);
    padding-left: 20px;
} 
.rightText ul .mh-ul li::before{
    content: "\2022";
    color: var(--orange-color);
    font-weight: 700;
    display: inline-block;
    width: 16px;
    margin-left: -16px;
}
.rightText ul .mh-ul {
    display: flex;
    padding: 10px 16px 10px 16px;
    gap: 8px;
    border-radius: 45px;
    background-color: var(--border-color);
    list-style: none;
    font-family:var(--roboto-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: var(--text-color);
}
.mh-arrow{
    width:  68px;
    height: 68px;
    padding: 20px ;
    gap: 10px;
    border-radius: 100px;
    border: 1px solid #333333;
    opacity: 0px;
    background-color: #1F1F1F;
}
.mh-arrow img{
    width: 28px;
    height: 28px;
}
.mh-p{
    padding: 50px 0;
    font-family:var(--roboto-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: var(--text-color);
}
.mh-btnDiv{
    display: flex;
    gap: 10px;
    font-family:var(--roboto-mono-font);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    align-items: center;
    color: var(--text-color) ;
}
.mh-btnText{
    display: flex;
    justify-content: space-between;
   
}
.mh-date{
    display: flex;
    gap: 12px;
    font-family: var(--roboto-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-color);
    align-items: center;
}
.date{
    
font-size: 24px;
font-weight: 500;
line-height: 36px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: var(--titles-color);
}
@media (max-width:1600px) {
    .ourBlogs{
        margin: 169px 50px 0 50px;
        border: none;
        margin: 100px 40px;
        padding-top:50px;
    } 
    .mh-blogs{
        padding-top: 10px;
    }
    .mh-bigCard{
        padding: 50px;
    }
    .mh-p{
        padding: 40px 0;
        font-size: 16px;
        line-height: 24px;
    }
    .rightText h3 {
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
    }
    .rightText ul .mh-ul {
        display: flex;
        padding: 8px 12px 8px 12px;
        gap: 8px;
        border-radius: 45px;
        font-size: 14px;
        line-height: 21px;
    }
    .mh-arrow{
        width:  56px;
        height: 56px;
        padding: 16px ;
      
    }
    .mh-arrow img{
        width: 24px;
        height: 24px;
    }
    .mh-btnDiv{
        display: flex;
        gap: 8px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }
   
    .mh-date{
        display: flex;
        gap: 10px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    .date{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    }
}
@media (max-width:850px){
    .mh-bigCard{
        display: none;
    }
    .ourBlogs{
        border: solid 2px var(--border-color);
        margin: 133px 16px 0 16px;
        padding:10px;
        overflow: hidden;
        
    } 
}