a{
    list-style: none;
    text-decoration: none;
}
.mh-blogAllCards{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0px;
}
.hidden {
    display: none;
  }
.mh-blogcard{
    width: 35.84%;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 14px;
}
.mh-btnDiv{
    display: flex;
    gap: 10px;
    font-family:var(--roboto-mono-font);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    align-items: center;
    color: var(--text-color) ;
}
.mh-arrow{
    width:  68px;
    height: 68px;
    padding: 20px ;
    gap: 10px;
    border-radius: 100px;
    border: 1px solid #333333;
    opacity: 0px;
    background-color: #1F1F1F;
}
.mh-arrow img{
    width: 28px;
    height: 28px;
}
.mh-blogphot{
    width: 100%;
     height: 100%;
       background-size: cover;
       background-repeat: no-repeat;
        border-radius: 14px;
}
.mh-cardblogtext{
padding: 30px 20px 0px 20px;
width: 95%;
}
.mh-cardblogtext h4{
    font-family:var(--roboto-font);
font-size: 24px;
font-weight: 500;
line-height: 36px;
color: var(--titles-color);
}
.mh-cardblogtext p{
    font-family:var(--roboto-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding: 0 20px;
    color: var(--text-color);
    padding: 12px 0px 40px 0px;
    height: 38.09%;
}
.mh-btnDiv p{
    padding: 0;
}
@media (max-width:1600px) {
    .mh-blogAllCards{
        gap: 10px;
        padding: 0;
        padding-top:10px;
    }
    .mh-blogcard{
        width: 32.84%;
        padding: 16px;
        border-radius: 12px;
    }
    .mh-cardblogtext{
        padding: 24px 20px 14px 20px;
        width: 96%;
        }
    .mh-cardblogtext h4{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    }
    .mh-cardblogtext p{
        font-family:var(--roboto-font);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding: 0 10px;
        color: var(--text-color);
        padding: 10px 0px 30px 0px;
        
    }
    .mh-btnDiv{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        
    }
   
    .mh-arrow{
        width:  56px;
        height: 56px;
        padding: 16px ;
    }
    .mh-arrow img{
        width: 24px;
        height: 24px;
    }
    @media (max-width:850px) {
        .mh-blogAllCards{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }
        .mh-blogcard{
            width: 100%;
            padding: 14px;
            background-color: var(--secondary-color);
            border-radius: 14px;

        }
        .mh-cardblogtext{
            padding: 20px 14px 10px 14px;
            width: 96%;
            }
        .mh-cardblogtext h4{
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        }
        .mh-cardblogtext p{
            font-family:var(--roboto-font);
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            padding: 0 14px;
            color: var(--text-color);
            padding: 10px 0px 30px 0px;
        }
        .mh-arrow{
            width:  48px;
            height: 48px;
            padding: 14px ;
        }
        .mh-arrow img{
            width: 20px;
            height: 20px;
        }
        .mh-hiddenbtn{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 20px 16px 20px 16px;
            gap: 6px;
            border-radius: 12px;
            background-color: var(--secondary-color);
            border: none;
            color: var(--text-color);
        }
    }
}