.hm-Container{
  /* width:953px ;*/   
  width: 100%;
}
.hm-tabsbutton {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 12px;  
}
.hm-tabscontanier{
    border-radius: 14px;
    padding: 40px;
    background-color: var( --border-color) ; 
    border: 1px solid var(--secondary-color);
}
.hm-tabscontanier h2{
    color: var(  --titles-color);
    font-family: var( --roboto-mono-font);
    font-size: 48px;
    line-height: 72px;
    font-weight: 400;
    text-transform: uppercase;
}
.hm-tabscontanier p{
    color: var(--text-color);
    font-family: var( --roboto-font);
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
}
@media (max-width:1440px) {
    .hm-tabsbutton {
        display: flex;
        gap: 10px; 
    }
    .hm-Container{
        /*width:656px ;  */
     }
    .hm-tabscontanier{
        border-radius: 12px;
        padding: 30px;
    }
    .hm-tabscontanier h2{
        font-size: 32px;
        line-height: 48px;
    }
    .hm-tabscontanier p{
        font-size: 16px;
    }
}

@media (max-width:790px) {
    .hm-tabsbutton {
        display: flex;
        gap: 10px;
        align-items: flex-start;
       /* width: 338px;*/
    }
    .hm-Container{
        /*width:338px ; */  
       display: flex;
       flex-direction: column;
       align-items: center;
     }
    .hm-tabscontanier{
        padding: 24px;  
    }
    .hm-tabscontanier h2{
        font-size: 24px;
        line-height: 36px;
    }
    .hm-tabscontanier p{
        font-size: 14px;
        line-height: 21px;
        margin-top: 8px;
    }
}
@media (max-width:399px) {
    .hm-tabsbutton {
        display: flex;
        gap: 6px;
    }
}
@media (max-width:390px) {
    .hm-tabsbutton {
        display: flex;
        gap: 10px;
    }
}